CalculadoraCliente/CalculadoraCliente/Service References/CalculadoraRemota/Calculadora.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="adicionar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val1" type="xs:int" />
        <xs:element minOccurs="0" name="val2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="adicionarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adicionarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="subtrair">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val1" type="xs:int" />
        <xs:element minOccurs="0" name="val2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="subtrairResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subtrairResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="multiplicar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val1" type="xs:int" />
        <xs:element minOccurs="0" name="val2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="multiplicarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="multiplicarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dividir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="val1" type="xs:int" />
        <xs:element minOccurs="0" name="val2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dividirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dividirResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>