CalculadoraCliente/CalculadoraCliente/Service References/CalculadoraRemota/Calculadora.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Calculadora" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52257/Calculadora.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52257/Calculadora.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52257/Calculadora.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" />
      <xsd:import schemaLocation="http://localhost:52257/Calculadora.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculadora_adicionar_InputMessage">
    <wsdl:part name="parameters" element="tns:adicionar" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_adicionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:adicionarResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_subtrair_InputMessage">
    <wsdl:part name="parameters" element="tns:subtrair" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_subtrair_OutputMessage">
    <wsdl:part name="parameters" element="tns:subtrairResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_multiplicar_InputMessage">
    <wsdl:part name="parameters" element="tns:multiplicar" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_multiplicar_OutputMessage">
    <wsdl:part name="parameters" element="tns:multiplicarResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_dividir_InputMessage">
    <wsdl:part name="parameters" element="tns:dividir" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_dividir_OutputMessage">
    <wsdl:part name="parameters" element="tns:dividirResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_dividir_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q1:FaultException" />
  </wsdl:message>
  <wsdl:portType name="ICalculadora">
    <wsdl:operation name="adicionar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculadora/adicionar" message="tns:ICalculadora_adicionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculadora/adicionarResponse" message="tns:ICalculadora_adicionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="subtrair">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculadora/subtrair" message="tns:ICalculadora_subtrair_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculadora/subtrairResponse" message="tns:ICalculadora_subtrair_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="multiplicar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculadora/multiplicar" message="tns:ICalculadora_multiplicar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculadora/multiplicarResponse" message="tns:ICalculadora_multiplicar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="dividir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculadora/dividir" message="tns:ICalculadora_dividir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculadora/dividirResponse" message="tns:ICalculadora_dividir_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICalculadora/dividirFaultExceptionFault" name="FaultExceptionFault" message="tns:ICalculadora_dividir_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalculadora" type="tns:ICalculadora">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="adicionar">
      <soap:operation soapAction="http://tempuri.org/ICalculadora/adicionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subtrair">
      <soap:operation soapAction="http://tempuri.org/ICalculadora/subtrair" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplicar">
      <soap:operation soapAction="http://tempuri.org/ICalculadora/multiplicar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dividir">
      <soap:operation soapAction="http://tempuri.org/ICalculadora/dividir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Calculadora">
    <wsdl:port name="BasicHttpBinding_ICalculadora" binding="tns:BasicHttpBinding_ICalculadora">
      <soap:address location="http://localhost:52257/Calculadora.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>