CalculadoraCliente/CalculadoraCliente/Service References/ClienteRemoto/Cliente.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFProjeto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFProjeto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClienteInformacoes">
    <xs:sequence>
      <xs:element minOccurs="0" name="endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteInformacoes" nillable="true" type="tns:ClienteInformacoes" />
</xs:schema>